
.my-bookings-container {
  max-width: 1100px;
  /* margin: auto; */
  padding-bottom: 2rem;
}

.my-bookings-container h2 {
  font-weight: 600;
  color: #222;
  letter-spacing: 0.5px;
}

/* --- Booking Card --- */
.booking-card {
  padding:0.8rem;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.25s ease;
  cursor: pointer;
}

.booking-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

/* --- Image --- */
.booking-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
  border-radius: 10px;
}

/* --- Card Body --- */
.booking-body {
  padding: 0.9rem 1rem;
}

.booking-title {
  padding-bottom: 0.5rem;
  font-size: 1.10rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.4rem;
  text-align: left;
}

.booking-text {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.3rem;
  text-align: left;
}

.booking-text i {
  color: #555;
  margin-right: 8px;
}

/* --- Price --- */
.booking-price {
  font-weight: 700;
  color: #555;
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: left;
}


/* --- Button --- */
.booking-btn {
  border-radius: 10px;
  font-size: 0.85rem;
  padding: 5px 12px;
  transition: all 0.2s ease;
}

.booking-btn:hover {
  background-color: #222;
  color: #fff;
}
.booking-cancel-btn{
  margin-left:20px;
  border-radius: 10px;
  font-size: 0.85rem;
  padding: 5px 20px;
}

/* --- Responsive ---
@media (max-width: 768px) {
  .booking-img {
    height: 150px;
  }
  .booking-title {
    font-size: 1rem;
  }
} */
