body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}


/* New page */
.container{
    flex:1;
}
.add-btn{
    background-color:#fe424d !important;
    border:none !important;
}

/* Edit page */
.edit-btn{
    background-color:#fe424d !important;
    border:none !important;
}

/* show page */
.show-img{
    height:40vh;
}
.btns{
    display:flex;
}

.edit-btn{
    background-color: rgb(134, 131, 131) !important;
    padding:5px 25px;
    color:#fff
}

.edit-btn:hover{
    background-color: rgb(102, 99, 99)  !important;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
.form-label{
    font-size: medium;
}

.starability-heart{
  transform: scale(0.85);
  transform-origin: left center;  /* Keeps stars aligned to the left */
  display: inline-block;


}
.starability-result {
  transform: scale(0.6);   /* Shrinks the whole star rating block */
  transform-origin: left center;  /* Keeps stars aligned to the left */
  display: inline-block;
  margin: 2px 0;
}
.btn-danger{
    border-radius: 8px;
    padding:5px 20px;
   
}
.review-card-body{
    padding-top:20px;
}
.review-card{
    
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.10);
}
.review-card-text{
    padding-bottom: 10px;
}
.fa-trash{
    color: gray;
    font-size: 1.3rem;
    cursor: pointer; 
}

.fa-trash:hover{
    color:red;
}
.review-card-body p{
    font-size: 16px;
}

/* navbar */
.navbar{
    height:5rem;
    background-color: white;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
    padding-left: 1.4rem;
}

.fa-circle-chevron-left{
    color:#fe424d;
    font-size: 1.8rem;
    /* padding-left: 1.4rem; */
}
.navbar-nav .namingapp{
    color:#fe424d !important;
    font-size: 1.3rem;

}
.nav-link{
    
    color:#222222 !important;
}

/* footer */

.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}


.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
  
}
.f-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius:1rem !important;
    width:100% !important;
    height:400px;
    object-fit: cover !important;
}
.card-body{
    padding:0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
/* card Effect */
.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity:0.3;
    background-color: white;
}

.dot{
    color:grey;
}
.amenities{
    border: none;
}